language: c
sudo: false
matrix:
  include:
    - os: linux
      env: PYTHON_VERSION=3.5 FLAGS="-v -n 2"
    - os: linux
      env: PYTHON_VERSION=3.6 FLAGS="-v -n 2"
    - os: linux
      env: PYTHON_VERSION=3.7 FLAGS="-v -n 1"
    - os: linux
      env: PYTHON_VERSION=3.7 FLAGS="-v -n 2"
    - os: linux
      env: PYTHON_VERSION=3.7 FLAGS="-v --full -n 2"
    - os: osx
      env: PYTHON_VERSION=3.7 FLAGS="-v -n 2"
    - os: windows
      env: PYTHON_VERSION=3.7 FLAGS="-v -n 1"
before_install:
  - wget https://raw.githubusercontent.com/trichter/conda4travis/latest/conda4travis.sh -O conda4travis.sh
  - source conda4travis.sh
  - conda config --add channels conda-forge
  - conda create -q -n testenv
      python=$PYTHON_VERSION
      coverage h5py matplotlib numpy obspy scipy tqdm
  - conda activate testenv
  - pip install obspyh5
  - conda list
install:
  - pip install -v --no-deps .
script:
  - mkdir empty; cd empty; cp ../.coveragerc ./
  - coverage run -m yam.tests $FLAGS
after_success:
  - coverage combine
  - bash <(curl -s https://codecov.io/bash)
notifications:
    email: false
